project_10k/site/blog_backup/

# Local Netlify folder
.netlify

.DS_Store

# ignore local files
public/
automation/tmp/
automation/.env
.DS_Store

public/
automation/tmp/
automation/.env
.DS_Store

# Ignore local backup folders
backup_*/
.backup/
nested_backup_*/

# Ignore macOS system files
.DS_Store
