{{ $src := .Get "src" }}
{{ $alt := .Get "alt" | default "" }}
{{ $class := .Get "class" | default "" }}
{{ $fit := .Get "fit" | default "contain" }}
{{ $w := .Get "w" | default 1600 }}
{{ $img := resources.Get $src }}
{{ if not $img }}<img src="{{ $src }}" alt="{{ $alt }}" class="{{ $class }}">{{ else }}
  {{ $s400 := $img.Fit (printf "400x q75 %s" $fit) }}
  {{ $s800 := $img.Fit (printf "800x q75 %s" $fit) }}
  {{ $s1200 := $img.Fit (printf "1200x q75 %s" $fit) }}
  {{ $s1600 := $img.Fit (printf "%dx q75 %s" $w $fit) }}
  <img
    src="{{ $s800.RelPermalink }}"
    srcset="{{ $s400.RelPermalink }} 400w, {{ $s800.RelPermalink }} 800w, {{ $s1200.RelPermalink }} 1200w, {{ $s1600.RelPermalink }} 1600w"
    sizes="(max-width: 720px) 100vw, 720px"
    alt="{{ $alt }}"
    class="{{ $class }}"
    loading="lazy"
    decoding="async">
{{ end }}
