{{ if not .IsHome }}
{{ $items := slice (dict "@type" "ListItem" "position" 1 "name" "Home" "item" .Site.BaseURL) }}
{{ $pos := 2 }}
{{ range .Ancestors.Reverse }}
  {{ $items = $items | append (dict "@type" "ListItem" "position" $pos "name" .Title "item" (print .Permalink)) }}
  {{ $pos = add $pos 1 }}
{{ end }}
{{ $items = $items | append (dict "@type" "ListItem" "position" $pos "name" .Title "item" (print .Permalink)) }}
<script type="application/ld+json">{
  "@context":"https://schema.org",
  "@type":"BreadcrumbList",
  "itemListElement": {{ $items | jsonify }}
}</script>
{{ end }}
